.circle {
	border-radius: 50%;
	width: 12px;
	height: 12px; 
	/* width and height can be anything, as long as they're equal */
	position:absolute; /*it can be fixed too*/
	left:0; right:0;
	top:0; bottom:0;
	margin:auto;
}

.connected {
	background: green;
}

.disconnected {
	background: red;
}

.no-left-padding {
	padding-left: 0;
}
